html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  margin: 0;
}

.loader {
  width: 500px;
  height: 4px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  background: #0e65ef;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: ani 1s ease-in-out infinite;
}
@keyframes ani {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
